* {
    font-family: Roboto;
}

/*input[required]::placeholder*/
input::placeholder{
    text-align: center;
}
.required::placeholder{
    color: red;
    text-align: right;
}

input[type='text'], input[type='url'], input[type='number'], textarea {
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
}

th, td {
    padding: 10px;
}

h1, h2 {
    font-family: Roboto;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-weight: 300;
}

body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 1rem;
    /*width: 38rem;*/
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Courier New, Courier, monospace;
    background: #fff;
    overflow: hidden;
    -moz-border-radius: 8px;
}

.datagrid table td, .datagrid table th {
    padding: 5px 3px;

}

.datagrid table thead th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background: #006064;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #006064;
    text-align: center;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #006064;
    border-left: 1px solid #B2EBF2;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #B2EBF2;
    color: #006064;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #006064;
    background: #B2EBF2;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006064;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background: #006064;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006064;
    color: #FFFFFF;
    background: #006064 none;
    box-shadow: 0 0 14px 1px rgba(0, 96, 100, 0.5490196078431373);
    text-blink: yes;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;

}

.fab {
    width: 55px;
    height: 55px;
    background-color: #006064;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    border: 0;
    font-size: 50px;
    line-height: 70px;
    color: white;
    text-align: center;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

@keyframes plus-out {
    from {
        opacity: 0;
        transform: rotateZ(180deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}